//- Contenedor principal
container-width = 1200px

//Tipografía
tipografia-principal	='Montserrat', sans-serif
tipografia-secundaria	= helvetica, sans-serif

font-size-h1	= 34px
font-size-h2	= 30px
font-size-h3	= 26px
font-size-h4	= 22px
font-size-h5	= 18px
font-size-h6	= 14px
font-size-p		= 16px
font-size-a		= 16px

line-height-h1	= 34px
line-height-h2	= 30px
line-height-h3	= 26px
line-height-h4	= 22px
line-height-h5	= 18px
line-height-h6	= 14px
line-height-p	= 16px
line-height-a	= 16px

//Peso de la tipografía
thin		= 100
light		= 300
regular		= 400
bold		= 700
extraBold	= 900

//- Colores
negro = #000000
blanco = #ffffff

light-grey = #dad6e4
line-light-grey = 1px solid rgba(218, 214, 228, 0.1)
dark-purple = #21103d
magenta-violet = #502799
blue-violet = #6c27ce
purple-11 = #b126dc
persian-indigo = #391b6e
midnight = #721d69
dark-pastel-blue = #859ac4
independence = #5b546d
orange-bullet = #fba85b
purple-rose-bullet =#fa61f0


color-principal = blanco
color-secundario = negro

//- Media queries
desktop				= container-width
tablet-landscape	= 1024px
tablet-portrait		= 960px
tablet				= 768px
phablet				= 740px
mobile				= 568px
mobile-landscape	= 480px
mobile-portrait		= 320px
