header.c-header
	.c-header__container
		.c-header__logo
			img(src="images/logos/logo_poketoxic.png", alt="Logo PokeToxic")
		ul.c-header__links
			li: a.c-header__item(href="#!" target="_blank" title="Login") Login
			li: a.c-header__item(href="#!" target="_blank" title="Register") Register
		.c-header__icon-mobile
			a.c-header__icon-mobile-container.js-menu-mobile
				span.c-header__icon-mobile-bullet-1
				span.c-header__icon-mobile-bullet-2