<!doctype html>
<html lang="en">

<head>
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>{% block title %}{% endblock %}
    </title>
    <meta content="Pokémon Toxic Login" property="og:site_name">
    <meta content="website" property="og:type">
    <meta
        content="The Greedy Gluttons event and a Team GO Rocket takeover serve up adventure in Pokémon GO this November!"
        property="og:title">
    <meta
        content="The Greedy Gluttons event and a Team GO Rocket takeover serve up adventure in Pokémon GO this November!"
        name="twitter:title">
    <meta
        content="https://lh3.googleusercontent.com/XLdFzk9WJzon45gaRlWqSNvwarB8WID74ydJi0dMgUCI-mmGC8pNv5FltsCJQZA5uBZ1-LeKS7STM9UN0RK_v_S4MOy_HnrwwHYvZUxNVrkTCSI=s2400-rj"
        property="og:image">
    <meta
        content="https://lh3.googleusercontent.com/XLdFzk9WJzon45gaRlWqSNvwarB8WID74ydJi0dMgUCI-mmGC8pNv5FltsCJQZA5uBZ1-LeKS7STM9UN0RK_v_S4MOy_HnrwwHYvZUxNVrkTCSI=s2400-rj"
        name="twitter:image">
    <meta content="summary_large_image" name="twitter:card">
    <link href="./assets/favicon.png" rel="apple-touch-icon" sizes="57x57">
    <link href="./assets/favicon.png" rel="apple-touch-icon" sizes="60x60">
    <link href="./assets/favicon.png" rel="apple-touch-icon" sizes="72x72">
    <link href="./assets/favicon.png" rel="apple-touch-icon" sizes="76x76">
    <link href="./assets/favicon.png" rel="apple-touch-icon" sizes="114x114">
    <link href="./assets/favicon.png" rel="apple-touch-icon" sizes="120x120">
    <link href="./assets/favicon.png" rel="apple-touch-icon" sizes="144x144">
    <link href="./assets/favicon.png" rel="apple-touch-icon" sizes="152x152">
    <link href="./assets/favicon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/assets/favicon.png" rel="icon" sizes="192x192" type="image/png">
    <link href="./assets/favicon.png" rel="shortcut icon">
    <meta content="#ffffff" name="msapplication-TileColor">
    <meta content="/img/icons/ms-icon-144x144.png" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"
        media="print" onload="this.media='all'">
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap">
    </noscript>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/login.css" rel="stylesheet" type="text/css">
    <link href="/css/ContainerBlocks.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>

<body style="--navbar-height:67px;">
    <nav class="navbar" data-component="Navbar">
        <div class="navbar__logo">
            <a href="/">
                <img class="image" decoding="async" loading="lazy" src="./assets/logo_poketoxic.png" alt="Pokémon Toxic"
                    width="1860" height="1190">
            </a>
        </div>
        <div class="navbar__containerWrap">
            <div class="navbar__loginWrap">
                <div class="navbar__login">
                    {% if logged == true %}
                        <div class="newuser__content__button">
                            <a class="button button--white-pill" role="button" href="/home" aria-label="Pokémon Toxic 101">
                                <span class="button__label">Account Details</span>
                            </a>
                        </div>
                        <div class="newuser__content__button">
                            <a class="button button--white-pill" role="button" href="/profile"
                                aria-label="Pokémon Toxic 101">
                                <span class="button__label">Profile</span>
                            </a>
                        </div>
                        <div class="newuser__content__button" style="display: flex; justify-content: center;">
                            <a class="button button--white-pill" role="button" href="/create_character"
                                aria-label="Pokémon Toxic 101">
                                <span class="button__label">Create character</span>
                            </a>
                        </div>
                        <div class="newuser__content__button">
                            <a class="button button--white-pill" role="button" href="/logout"
                                aria-label="Pokémon Toxic 101">
                                <span class="button__label">Logout</span>
                            </a>
                        </div>
                    {% else %}
                        <div class="navbar__login">
                            <div class="newuser__content__button">
                                <a class="button button--white-pill" role="button" href="/login" aria-label="Pokémon Toxic 101">
                                    <span class="button__label">Login</span>
                                </a>
                            </div>
                            <div class="newuser__content__button">
                                <a class="button button--white-pill" role="button" href="/register" aria-label="Pokémon Toxic 101">
                                    <span class="button__label">Register</span>
                                </a>
                            </div>
                        </div>
                    {% endif%}

                </div>
            </div>
            <div class="navbar__linksWrap">
                <div class="navbar__links">
                    <div class="navbar__link">
                        <a href="/leaderboard">Leaderboard</a>
                    </div>
                    <div class="navbar__link">
                        <a href="/events">Events</a>
                    </div>
                    <div class="navbar__link">
                        <a href="/news">News</a>
                    </div>
                    <div class="navbar__link">
                        <a href="/download">Download</a>
                    </div>
                    <div class="navbar__link">
                        <a href="/">Support</a>
                    </div>
                </div>
            </div>
            <div class="navbar__navMenu">
                <button class="navbar__navMenu__open">
                    <svg width="156px" height="156px" viewBox="0 0 156 156" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="icon_navmenu_open" transform="translate(19.000000, 0.000000)" fill-rule="nonzero">
                                <circle id="White_Circle" fill="#3DAAE7" cx="59.1" cy="78" r="40.5"></circle>
                                <g id="White_Circle_3_" transform="translate(21.000000, 139.000000)" fill="#3DAAE7">
                                    <path
                                        d="M38.1,17 C25.1,17 12.3,13.7 0.9,7.6 L4.7,0.6 C14.9,6.1 26.4,9 38.1,9 L38.1,17 Z"
                                        id="Path">
                                    </path>
                                </g>
                                <g id="Group" transform="translate(0.000000, 19.000000)" fill="#3DAAE7">
                                    <path
                                        d="M8.2,55.4 C10.1,29 32.2,8 59.1,8 C86,8 108.1,29 110,55.4 L118,55.4 C116.1,24.5 90.4,0 59.1,0 C27.8,0 2.1,24.5 0.2,55.4 L8.2,55.4 Z"
                                        id="Path"></path>
                                    <path
                                        d="M109.9,63.4 C107.7,89.5 85.7,110 59.1,110 C32.5,110 10.6,89.5 8.3,63.4 L0.3,63.4 C2.6,93.9 28.1,118 59.1,118 C90.1,118 115.6,93.9 117.9,63.4 L109.9,63.4 Z"
                                        id="Path"></path>
                                </g>
                                <path
                                    d="M69.1,64.3 L49.1,64.3 C46.3,64.3 44.1,62.1 44.1,59.3 L44.1,59.3 C44.1,56.5 46.3,54.3 49.1,54.3 L69.1,54.3 C71.9,54.3 74.1,56.5 74.1,59.3 L74.1,59.3 C74.1,62.1 71.9,64.3 69.1,64.3 Z"
                                    id="Path" fill="#1D1D1F"></path>
                                <path
                                    d="M69,83 L49,83 C46.2,83 44,80.8 44,78 L44,78 C44,75.2 46.2,73 49,73 L69,73 C71.8,73 74,75.2 74,78 L74,78 C74,80.8 71.8,83 69,83 Z"
                                    id="Path" fill="#1D1D1F"></path>
                                <path
                                    d="M69,101.8 L49,101.8 C46.2,101.8 44,99.6 44,96.8 L44,96.8 C44,94 46.2,91.8 49,91.8 L69,91.8 C71.8,91.8 74,94 74,96.8 L74,96.8 C74,99.6 71.8,101.8 69,101.8 Z"
                                    id="Path" fill="#1D1D1F"></path>
                                <path
                                    d="M137,74.4 C135.1,33.1 100.9,0 59.1,0 L59.1,8 C96.5,8 127.1,37.5 129,74.4 L137,74.4 Z"
                                    id="Path" fill="#3DAAE7"></path>
                            </g>
                        </g>
                    </svg>
                </button>
                <button class="navbar__navMenu__close">
                    <svg width="156px" height="156px" viewBox="0 0 156 156" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="icon_navmenu_close" transform="translate(19.000000, 0.000000)" fill-rule="nonzero">
                                <circle id="White_Circle" fill="#3DAAE7" cx="59.1" cy="78" r="40.5"></circle>
                                <g id="White_Circle_3_" transform="translate(21.000000, 139.000000)" fill="#3DAAE7">
                                    <path
                                        d="M38.1,17 C25.1,17 12.3,13.7 0.9,7.6 L4.7,0.6 C14.9,6.1 26.4,9 38.1,9 L38.1,17 Z"
                                        id="Path">
                                    </path>
                                </g>
                                <g id="Group" transform="translate(0.000000, 19.000000)" fill="#3DAAE7">
                                    <path
                                        d="M8.2,55.4 C10.1,29 32.2,8 59.1,8 C86,8 108.1,29 110,55.4 L118,55.4 C116.1,24.5 90.4,0 59.1,0 C27.8,0 2.1,24.5 0.2,55.4 L8.2,55.4 Z"
                                        id="Path"></path>
                                    <path
                                        d="M109.9,63.4 C107.7,89.5 85.7,110 59.1,110 C32.5,110 10.6,89.5 8.3,63.4 L0.3,63.4 C2.6,93.9 28.1,118 59.1,118 C90.1,118 115.6,93.9 117.9,63.4 L109.9,63.4 Z"
                                        id="Path"></path>
                                </g>
                                <path
                                    d="M69.7,95.7 L41.4,67.4 C39.4,65.4 39.4,62.3 41.4,60.3 L41.4,60.3 C43.4,58.3 46.5,58.3 48.5,60.3 L76.8,88.6 C78.8,90.6 78.8,93.7 76.8,95.7 L76.8,95.7 C74.8,97.7 71.7,97.7 69.7,95.7 Z"
                                    id="Path" fill="#1D1D1F"></path>
                                <path
                                    d="M48.5,95.7 L76.8,67.4 C78.8,65.4 78.8,62.3 76.8,60.3 L76.8,60.3 C74.8,58.3 71.7,58.3 69.7,60.3 L41.4,88.6 C39.4,90.6 39.4,93.7 41.4,95.7 L41.4,95.7 C43.4,97.7 46.5,97.7 48.5,95.7 Z"
                                    id="Path" fill="#1D1D1F"></path>
                                <path
                                    d="M137,74.4 C135.1,33.1 100.9,0 59.1,0 L59.1,8 C96.5,8 127.1,37.5 129,74.4 L137,74.4 Z"
                                    id="Path" fill="#3DAAE7"></path>
                            </g>
                        </g>
                    </svg>
                </button>
            </div>
        </div>
    </nav>
    <main class="main">
        {% block content %}
        
        {% endblock %}

        
    </main>
    <footer class="footer">
        <div class="footer__contentWrap grid">
            <div class="footer__content">
                <div class="footer__content__links">
                    <div class="footer__content__link">
                        <a href="/leaderboard">Leaderboard</a>
                    </div>
                    <div class="footer__content__link">
                        <a href="/events/">Events</a>
                    </div>
                    <div class="footer__content__link">
                        <a href="/news/">News</a>
                    </div>
                    <div class="footer__content__link">
                        <a href="/download">Download</a>
                    </div>
                    <div class="footer__content__link">
                        <a href="/">Support</a>
                    </div>

                </div>
                <div class="footer__content__social">
                    <a class="footer__content__social__button footer__content__social__button--twitter"
                        href="https://twitter.com/PokemonGoApp" target="_blank" rel="noopener noreferrer" role="button"
                        aria-label="Twitter">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 45 45"
                            style="enable-background:new 0 0 45 45;" xml:space="preserve">
                            <style type="text/css">
                                .twitter-border {
                                    fill: none;
                                    stroke: #18242E;
                                    stroke-miterlimit: 10;
                                    stroke-width: 2;
                                }

                                .twitter-logo {
                                    fill: #18242E;
                                }
                            </style>
                            <circle class="twitter-border" cx="22.5" cy="22.5" r="20"></circle>
                            <g>
                                <path class="twitter-logo" d="M18.4,31.4c8.3,0,12.8-6.9,12.8-12.8c0-0.2,0-0.4,0-0.6c0.9-0.6,1.6-1.4,2.3-2.3c-0.8,0.4-1.7,0.6-2.6,0.7
                      c0.9-0.6,1.6-1.4,2-2.5C32,14.4,31.1,14.8,30,15c-0.8-0.9-2-1.4-3.3-1.4c-2.5,0-4.5,2-4.5,4.5c0,0.4,0,0.7,0.1,1
                      c-3.8-0.2-7.1-2-9.3-4.7c-0.4,0.7-0.6,1.4-0.6,2.3c0,1.6,0.8,2.9,2,3.8c-0.7,0-1.4-0.2-2-0.6c0,0,0,0,0,0.1c0,2.2,1.6,4,3.6,4.4
                      c-0.4,0.1-0.8,0.2-1.2,0.2c-0.3,0-0.6,0-0.8-0.1c0.6,1.8,2.2,3.1,4.2,3.1c-1.5,1.2-3.5,1.9-5.6,1.9c-0.4,0-0.7,0-1.1-0.1
                      C13.5,30.7,15.9,31.4,18.4,31.4"></path>
                            </g>
                        </svg>
                    </a>
                    <a class="footer__content__social__button footer__content__social__button--instagram"
                        href="https://www.instagram.com/pokemongoapp/" target="_blank" rel="noopener noreferrer"
                        role="button" aria-label="Instagram">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 45 45"
                            style="enable-background:new 0 0 45 45;" xml:space="preserve">
                            <style type="text/css">
                                .instagram-border {
                                    fill: none;
                                    stroke: #18242E;
                                    stroke-miterlimit: 10;
                                    stroke-width: 2;
                                }

                                .instagram-logo {
                                    fill: #18242E;
                                }
                            </style>
                            <circle class="instagram-border" cx="22.5" cy="22.5" r="20"></circle>
                            <g>
                                <path class="instagram-logo"
                                    d="M22.5,13.5c2.9,0,3.3,0,4.4,0.1c1.1,0,1.7,0.2,2,0.4c0.5,0.2,0.9,0.4,1.3,0.8c0.4,0.4,0.6,0.8,0.8,1.3
                      c0.2,0.4,0.3,1,0.4,2c0.1,1.2,0.1,1.5,0.1,4.4s0,3.3-0.1,4.4c0,1.1-0.2,1.7-0.4,2c-0.2,0.5-0.4,0.9-0.8,1.3
                      c-0.4,0.4-0.8,0.6-1.3,0.8c-0.4,0.2-1,0.3-2,0.4c-1.2,0.1-1.5,0.1-4.4,0.1s-3.3,0-4.4-0.1c-1.1,0-1.7-0.2-2-0.4
                      c-0.5-0.2-0.9-0.4-1.3-0.8c-0.4-0.4-0.6-0.8-0.8-1.3c-0.2-0.4-0.3-1-0.4-2c-0.1-1.2-0.1-1.5-0.1-4.4s0-3.3,0.1-4.4
                      c0-1.1,0.2-1.7,0.4-2c0.2-0.5,0.4-0.9,0.8-1.3c0.4-0.4,0.8-0.6,1.3-0.8c0.4-0.2,1-0.3,2-0.4C19.2,13.5,19.6,13.5,22.5,13.5
                      M22.5,11.5c-3,0-3.4,0-4.5,0.1c-1.2,0.1-2,0.2-2.7,0.5c-0.7,0.3-1.3,0.7-1.9,1.3c-0.6,0.6-1,1.2-1.3,1.9c-0.3,0.7-0.5,1.5-0.5,2.7
                      c-0.1,1.2-0.1,1.5-0.1,4.5c0,3,0,3.4,0.1,4.5c0.1,1.2,0.2,2,0.5,2.7c0.3,0.7,0.7,1.3,1.3,1.9c0.6,0.6,1.2,1,1.9,1.3
                      c0.7,0.3,1.5,0.5,2.7,0.5c1.2,0.1,1.5,0.1,4.5,0.1s3.4,0,4.5-0.1c1.2-0.1,2-0.2,2.7-0.5c0.7-0.3,1.3-0.7,1.9-1.3
                      c0.6-0.6,1-1.2,1.3-1.9c0.3-0.7,0.5-1.5,0.5-2.7c0.1-1.2,0.1-1.5,0.1-4.5s0-3.4-0.1-4.5c-0.1-1.2-0.2-2-0.5-2.7
                      c-0.3-0.7-0.7-1.3-1.3-1.9c-0.6-0.6-1.2-1-1.9-1.3c-0.7-0.3-1.5-0.5-2.7-0.5C25.9,11.5,25.5,11.5,22.5,11.5L22.5,11.5z">
                                </path>
                                <path class="instagram-logo" d="M22.5,16.9c-3.1,0-5.6,2.5-5.6,5.6c0,3.1,2.5,5.6,5.6,5.6s5.6-2.5,5.6-5.6C28.1,19.4,25.6,16.9,22.5,16.9z
                      M22.5,26.2c-2,0-3.7-1.6-3.7-3.7s1.6-3.7,3.7-3.7s3.7,1.6,3.7,3.7S24.5,26.2,22.5,26.2z"></path>
                                <circle class="instagram-logo" cx="28.4" cy="16.6" r="1.3"></circle>
                            </g>
                        </svg>
                    </a>
                    <a class="footer__content__social__button footer__content__social__button--facebook"
                        href="https://www.facebook.com/PokemonGO/" target="_blank" rel="noopener noreferrer"
                        role="button" aria-label="Facebook">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 45 45"
                            style="enable-background:new 0 0 45 45;" xml:space="preserve">
                            <style type="text/css">
                                .facebook-border {
                                    fill: none;
                                    stroke: #18242E;
                                    stroke-miterlimit: 10;
                                    stroke-width: 2;
                                }

                                .facebook-logo {
                                    fill: #18242E;
                                }
                            </style>
                            <circle class="facebook-border" cx="22.5" cy="22.5" r="20"></circle>
                            <path class="facebook-logo" d="M22.5,11.6c-6.1,0-11,4.9-11,11c0,5.5,4,10,9.3,10.9v-7.7H18v-3.2h2.8v-2.4c0-2.8,1.6-4.3,4.2-4.3
                    c1.2,0,2.5,0.2,2.5,0.2v2.7H26c-1.4,0-1.8,0.8-1.8,1.7v2.1h3.1l-0.5,3.2h-2.6v7.7c5.3-0.8,9.3-5.4,9.3-10.9
                    C33.5,16.5,28.6,11.6,22.5,11.6z"></path>
                        </svg>
                    </a>
                    <a class="footer__content__social__button footer__content__social__button--youtube"
                        href="https://www.youtube.com/channel/UCA698bls2pjQyiqP9N-iaeg" target="_blank"
                        rel="noopener noreferrer" role="button" aria-label="YouTube">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 45 45"
                            style="enable-background:new 0 0 45 45;" xml:space="preserve">
                            <style type="text/css">
                                .youtube-border {
                                    fill: none;
                                    stroke: #18242E;
                                    stroke-miterlimit: 10;
                                    stroke-width: 2;
                                }

                                .youtube-logo {
                                    fill: #18242E;
                                }
                            </style>
                            <circle class="youtube-border" cx="22.5" cy="22.5" r="20"></circle>
                            <path class="youtube-logo" d="M33,17.2c-0.3-1-1-1.7-1.9-2c-1.7-0.5-8.6-0.5-8.6-0.5s-6.9,0-8.6,0.5c-0.9,0.3-1.7,1-1.9,2
                    c-0.5,1.7-0.5,5.3-0.5,5.3s0,3.6,0.5,5.3c0.3,1,1,1.7,1.9,2c1.7,0.5,8.6,0.5,8.6,0.5s6.9,0,8.6-0.5c0.9-0.3,1.7-1,1.9-2
                    c0.5-1.7,0.5-5.3,0.5-5.3S33.5,18.9,33,17.2z M20.2,25.8v-6.5l5.8,3.3L20.2,25.8z"></path>
                        </svg>
                    </a>
                </div>
                <div class="footer__content__logos">
                    <a class="footer__content__logo footer__content__logo--tpc" href="https://www.pokemon.com/"
                        target="_blank" rel="noopener noreferrer">
                        <picture>
                            <img class="image" decoding="async" loading="lazy" src="./assets/logo_poketoxic.png"
                                alt="Pokémon Toxic" width="1280" height="143">
                        </picture>
                    </a>
                    <a class="footer__content__logo footer__content__logo--niantic" href="https://nianticlabs.com/"
                        target="_blank" rel="noopener noreferrer">
                        <div role="img" aria-label="Pokemon">
                            <picture>
                                <img class="image" decoding="async" loading="lazy" src="./assets/favicon.png"
                                    alt="Pokemon Toxic">
                            </picture>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--

        
        <div class="footer__legallinks">
            <a class="button button--arrow" role="button" href="https://www.nianticlabs.com/terms/">
                <span class="button__label">Terms of Service</span>
                <span class="button__icon">
                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd">
                            <circle fill="#418494" fill-rule="nonzero" cx="10" cy="10" r="10"></circle>
                            <path stroke="#FFF" stroke-width="2" stroke-linecap="round"
                                d="M5 10h10M11.2 6.2 15 10l-3.8 3.8"></path>
                        </g>
                    </svg>
                </span>
            </a>
            <a class="button button--arrow" role="button" href="https://www.nianticlabs.com/privacy/">
                <span class="button__label">Copyright Policy</span>
                <span class="button__icon">
                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd">
                            <circle fill="#418494" fill-rule="nonzero" cx="10" cy="10" r="10"></circle>
                            <path stroke="#FFF" stroke-width="2" stroke-linecap="round"
                                d="M5 10h10M11.2 6.2 15 10l-3.8 3.8"></path>
                        </g>
                    </svg>
                </span>
            </a>
            <a class="button button--arrow" role="button" href="https://www.nianticlabs.com/copyright/">
                <span class="button__label">Privacy Policy</span>
                <span class="button__icon">
                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd">
                            <circle fill="#418494" fill-rule="nonzero" cx="10" cy="10" r="10"></circle>
                            <path stroke="#FFF" stroke-width="2" stroke-linecap="round"
                                d="M5 10h10M11.2 6.2 15 10l-3.8 3.8"></path>
                        </g>
                    </svg>
                </span>
            </a>
        </div>
        <div class="footer__disclaimersWrap grid">
            <div class="footer__disclaimers">
                <div class="footer__disclaimer">Pokémon Toxic is playable in English, French, German, Italian, Russian,
                    Japanese, Spanish, Traditional Chinese, Korean, Thai, and Brazillian Portuguese.</div>
                <div class="footer__disclaimer">©2022 Niantic, Inc. ©2022 Pokémon. ©1995–2022 Nintendo / Creatures Inc.
                    / GAME
                    FREAK inc. Pokémon and Pokémon character names are trademarks of Nintendo. Apple and the Apple logo
                    are
                    trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of
                    Apple
                    Inc. Android, Google Play and the Google Play logo are trademarks of Google LLC. During gameplay,
                    please be
                    aware of your surroundings and play safely.</div>
            </div>
        </div>
        -->
    </footer>
    <script src="/js/main.js"></script>
</body>

</html>