{% extends 'layout.html' %}

{% block title %}News{% endblock %}

{% block content %}

<div class="headersimple headersimple--hero">
    <div class="headersimple__content">
        <div class="headersimple__content__title">News</div>
    </div>
</div>
<div class="blogList">
    <div class="blogList__grid grid">
        <div class="blogList__posts">
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/XLdFzk9WJzon45gaRlWqSNvwarB8WID74ydJi0dMgUCI-mmGC8pNv5FltsCJQZA5uBZ1-LeKS7STM9UN0RK_v_S4MOy_HnrwwHYvZUxNVrkTCSI=e365-w800"
                        alt="" width="1920" height="1080">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">November 7, 2022</div>
                    <div class="blogList__post__content__title">
                        The Greedy Gluttons event and a Team GO Rocket takeover serve up adventure in Pokémon GO
                        this November!
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/rVjSgQajx7sVxd5njXHz3w1839FE9jfIYkxSLkuF6I_pOqrpA3K-jgY0Tj1eVCWh9fYY3ttfLraNjIWmHG4NYODG_M1VS4eOIwomot5iBscA-A=e365-w800"
                        alt="" width="1920" height="1080">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">November 6, 2022</div>
                    <div class="blogList__post__content__title">
                        A new discovery! Gimmighoul, a Pokémon from the Paldea region!
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/2Me3V_8kdygp3sGw_GhF8Wls3WZiMRNBVyc-eSgucIHO5HsPQcdwUEDdNwpJqFyMXw3eE4D9uzzc9xQYJbCi0X3M8qobG3SXpc7HTbp1GZbFDw=e365-w800"
                        alt="" width="1600" height="1066">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">November 2, 2022</div>
                    <div class="blogList__post__content__title">
                        Developer Diaries: The Art of Pokémon GO
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/qIzZ_m7YlkKJgQFig-rOkSM_9L40_-nnNCIx9y2gEXdzDmgvlOCagloujhio-Z27q7ytD9P8IoTfpq68fa_vK3AhskCF_3htebdmHeJPMy0_FA=e365-w800"
                        alt="" width="1024" height="512">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">October 31, 2022</div>
                    <div class="blogList__post__content__title">
                        Thanks for making memories at Pokémon GO Safari Zone: Taipei!
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/P91I3UYSH8RqX-1V1nJ4ZRHHbVuSWGnVuBU395xiBfJZk_QMETTOjT_NQivjKL3ebdwLD37SvzkOb6jmCa1JoAGKBHoTtPSjiIKFWQWYQ5zC5A=e365-w800"
                        alt="" width="1920" height="1080">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">October 28, 2022</div>
                    <div class="blogList__post__content__title">
                        Campfire, Niantic’s social app, is available in more US cities just in time for
                        Halloween!
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/ol0gYGML_oL49FWujCuXq-A98n98at0RRFABjhwJiAok9VEn0r2ChHR2a5AmANOJdhW-uOma0czTLZfU2UlWQ2Rr1umdnA4Dbn_U-asyFv1nZA=e365-w800"
                        alt="" width="1920" height="1080">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">October 28, 2022</div>
                    <div class="blogList__post__content__title">
                        Zorua and Zoroark have revealed themselves in Pokémon GO!
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/yZbGHyOIA59s2NqpX7561jvSaVYTLKPtM8RmfZ98oeZ4M6HGe75gTuPpRAE4tUJQgs0x5KtKxJvzcCwviHasDXFIweq3kMAss3NX_bvbbRzY=e365-w800"
                        alt="" width="1024" height="512">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">October 25, 2022</div>
                    <div class="blogList__post__content__title">
                        A sticker feature update is coming to Pokémon GO!
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/n1GlIOX7kSl0UZG9EFkYP_i3ybwzGJRDRk42uj-Ob42eFeq91CqxljuQmiebBpBuYbqdJMBwX5-mW4wPl6iZx24eAPlO5akachR4CQp9FzHS=e365-w800"
                        alt="" width="3840" height="2160">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">October 24, 2022</div>
                    <div class="blogList__post__content__title">
                        Tickets available now for Pokémon GO Safari Zone at Gardens by the Bay!
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/sj2boAS_HdWprBMjJkbJxOtR4V7P89q8kk7pqX35hi-QN1JfFuJBXnfnqo1pOB0CYbRJRXpm2PApAxhyRRgCI0-vOwNVQAbWBffWwYKEs9zx=e365-w800"
                        alt="" width="1920" height="1080">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">October 20, 2022</div>
                    <div class="blogList__post__content__title">
                        Community note: Updates to the Pokémon GO map
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/ekI8iNjWLfTHnDY7DuhCe7yiaDPHhNuQfMC0YO1P_zaIyAwiqWrGcqRwxfgyn1icr82d2663UW5QehbhEXUPXz2jsT3BiW-RcFcbm6WYWjSDGA=e365-w800"
                        alt="" width="1920" height="1080">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">October 19, 2022</div>
                    <div class="blogList__post__content__title">
                        Pokémon GO Halloween 2022 Part II keeps the tricks and treats coming!
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/8eBrK0hWuMZzfsrRiotmqtUnm3xGso5WkmhBs_GuqwR6__A3GeKEcZEXx4PlG9qG1twH6IIUfs9E4cb9LpKgmNmp6BYpmeJe3nslwebsW5YITvA=e365-w800"
                        alt="" width="1920" height="1080">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">October 18, 2022</div>
                    <div class="blogList__post__content__title">
                        Día de Muertos 2022: Pokémon wearing cempasúchil crowns, new bonuses, and a Collection
                        Challenge!
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/ivD1hH8E2ztiJNRzqq_BHEqYFx4OnHGfE-TraeTXqQnF4hdqLyyG6fhIxmlJbwDQvAyi0Kc9YhmLjm9vHXM85rVx4MFzjfqcC6GXLPJDAJRLXA=e365-w800"
                        alt="" width="5120" height="2880">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">October 17, 2022</div>
                    <div class="blogList__post__content__title">
                        November 2022 Community Day: Teddiursa
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/4Yv_Ws72bvuQVUH9xGpo8H4yXxHj1jxlGTr4v8KyB4sU5auO0e00eRA_YdaZIS5uR6ldHmKou3_X6Ag8CiaKlwuZY6ieVMHZ0ISwhkIecov5DA=e365-w800"
                        alt="" width="1920" height="1080">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">October 14, 2022</div>
                    <div class="blogList__post__content__title">
                        Introducing: Elite Raids
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/VKtj6R-0hTC143uop0TJt14BH3I87kkagY6u8P1BnzkN8ySfsMsVb3g1p5We-MPpRf1s51kOPCjJ2KUxixn_oFnRe3n5Uhgn1mGFIt9Xe7_M=e365-w800"
                        alt="" width="1920" height="1080">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">October 13, 2022</div>
                    <div class="blogList__post__content__title">
                        Pokémon GO Halloween 2022 Part I brings Mega Banette and bucketfuls of Candy bonuses!
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/Z0_4T7lwrChfHJbDaX7ESZz7NnAl1hdgAELQP19REAuYJnK-vzoqloSTl8C31AQLCzd7NoCw3cvPbIjm1U9CSlliVKzX0gPiv8GOoUz_dxnf=e365-w800"
                        alt="" width="1920" height="1080">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">October 6, 2022</div>
                    <div class="blogList__post__content__title">
                        Community Day Classic: Dreaming of Dratini
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/nLqOUDTmHR1PBnZmE2p1gWL6nKagHaZ17KpxkMm5ylKBiTayBfnF9xDxl3mS502LhiSNh0GldQADPHFL1fOYohwgvoQFZxxqmNZHbpmA_HK1Qg=e365-w800"
                        alt="" width="6532" height="3674">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">October 5, 2022</div>
                    <div class="blogList__post__content__title">
                        Festival of Lights 2022: shine on with new Pokémon debuts and illuminating encounters
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/8AdoLJlojsSsbeofhAL7vu_fvSfvwxyJduYif2Sa-VnkLV1kyE0y1g3A3q3AjzcOjNSjODUIu9EgdRGnu4PSUi5SbUHZP3TUkemOZa0kIElfRSM=e365-w800"
                        alt="" width="3840" height="2160">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">September 28, 2022</div>
                    <div class="blogList__post__content__title">
                        Tickets available now for Pokémon GO Safari Zone: Taipei!
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/2Z4nTBRTxs4AdiqyS97G1_8pckZNYfo2hCbKM8-8nZ38fjMpoTkBy_ccW0xOR5CsCBtUtdxf-Z1O1mVS9cncseJUl_l6uVieF06Y1bGccNUHnQ=e365-w800"
                        alt="" width="3000" height="2000">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">September 28, 2022</div>
                    <div class="blogList__post__content__title">
                        Get cosmic with our new Evolving Stars event!
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/IzfjRjjW7xKrW6E9gudgRL9zPzGltIcgcvsorHaNE5soPPZOxHMv8QVozBnNDrAuK1KKqqGoNFilcL5ExmiSNxkwEkNildt5f-Or0gdnRjeFIy4=e365-w800"
                        alt="" width="1920" height="1080">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">September 20, 2022</div>
                    <div class="blogList__post__content__title">
                        Strut in style with Mareanie, Toxapex, and newly costumed Pokémon during Fashion Week!
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/WXn9H4bgbfhLjKP_KTRtNHuo9H4yP_4KFSGQe1sq6lETVuwbpaG0T0XQ3Pjrhs8cYlhqjujIhbQIKUM6WZVsnzCAph0j49RRDBWIl3turY-Ypb4=e365-w800"
                        alt="" width="1920" height="1080">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">September 19, 2022</div>
                    <div class="blogList__post__content__title">
                        October 2022 Community Day: Litwick
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/MKmsOs7w1Zk5-QdMonL2ldPzleMfNU2tIs6iOptdW9ozzl9NF7YYhc9C6H2sxdQQoA3z-x2DGLub_h2xYzZ8YQktgV8t0eCq7xtD7BO_TIBJCw=e365-w800"
                        alt="" width="1920" height="1080">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">September 12, 2022</div>
                    <div class="blogList__post__content__title">
                        Gear up for Steel-type Ultra Beasts, Mega Aggron, and Togedemaru with a new event–Test
                        Your Mettle!
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/N97SGHEpUyoSnOrth76oI05jpBGXuadccj8iF_VLtjFKGOP3eHjp5fhoNMEyGPoL2EF1C2cO6xbs8NWwW1D7aluubVqhDOiJJfQvu1hDtNwM=e365-w800"
                        alt="" width="1920" height="1080">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">September 7, 2022</div>
                    <div class="blogList__post__content__title">
                        September 2022 Community Day: Roggenrola
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/LYukfaKRkMsVe8Wr52bM_9fZ8x5pbEgJ820JOW18WtQo5pdy5STJLhh4XP7m75nDtItnnC3xxIXnUZwknXH0KMJ2x3Q-eX3H2Y7Hp6yShIfa=e365-w800"
                        alt="" width="1240" height="720">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">September 2, 2022</div>
                    <div class="blogList__post__content__title">
                        Clefairy are gathering in the moonlight!
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/iM8xB6EJpfSLMBnZuDUqoajQfXBGKePqBhym1TQnJDR_w_Tw2k-64DQ6jgRmncki5e-Mk1cKg87GLhTJ6ho3sfV66LHsYS5E85S9JqJXGKf-=e365-w800"
                        alt="" width="1920" height="1080">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">September 1, 2022</div>
                    <div class="blogList__post__content__title">
                        The Psychic Spectacular event is back!
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/52yZp13FEXR1Mn28qO2cYoPQ0p3RJsupKLUybF5yUX4X3agH3zw5GrdBNwtzOcFl_ddmoFpNr3CKN8Ixx4tKiJYSa3xitY6LNMhyBijze1hzfA=e365-w800"
                        alt="" width="1920" height="1080">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">September 1, 2022</div>
                    <div class="blogList__post__content__title">
                        New Pokémon GO Partner Research available to Verizon customers!
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/Cyq0dzC0Kfl9wabm9rRaheQ-L0IOvBciJtOBD0IdshFvcoTK9UVPI41jxjEwL6elW64oNPjT1cxmaMCvOWgVVrsrM8rAnoiPSG8YTkS_P27W4g=e365-w800"
                        alt="" width="1024" height="512">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">August 31, 2022</div>
                    <div class="blogList__post__content__title">
                        Pokémon GO Safari Zone is coming to Singapore!!
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/m_mW0XSHDliZ895D0O6N27Dhmt9ubRgbBe6eE91mKR4U3NMCUJ_KtYnK8edRSnYA6BpPrbnXwDKXOEB1_VmrfR7_1GP2SbKQJ_9lD-bXkre8L1I=e365-w800"
                        alt="" width="1920" height="1080">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">August 30, 2022</div>
                    <div class="blogList__post__content__title">
                        Welcome to the Season of Light
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/7RcO-BoUUvN6teumbUQenjoDWFa0KhFGG3HzMdzoSBDRWsKv6jtKrXreR48S4C4fBNn3I-y0EyULFLQnPiaL2PY6zGDBFtQ_XY63RZzkicO6=e365-w800"
                        alt="" width="1920" height="1080">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">August 30, 2022</div>
                    <div class="blogList__post__content__title">
                        GO Battle League: Season of Light Update
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/bt9eqqeaCz_RHwgk7kv0UySl3ZpnmzIHFA6OkBl9HARAiQrmgGr28qrxVGcu7mBgQt0t9ASxzwGYsW4M2S5A5lxNMDU7PbtUBSR7JkrG7_4K=e365-w800"
                        alt="" width="1920" height="1080">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">August 30, 2022</div>
                    <div class="blogList__post__content__title">
                        Celebrate the Revolving Pokémon with Limited Research, featuring Inkay!
                    </div>
                </div>
            </a>
            <a href="/" class="blogList__post">
                <div class="blogList__post__image">
                    <img class="image" decoding="async" loading="lazy"
                        src="https://lh3.googleusercontent.com/hOvr8EECEhzQ3K0XLfF693CARWiYkl7OkipzjtLZdPum9plnQ84zF32O343KSBMJv6PuCybIM-WXmOAdk04Ncn26Ue3RVU1OOW1zcd2d_yyU=e365-w800"
                        alt="" width="4000" height="2667">
                </div>
                <div class="blogList__post__content">
                    <div class="blogList__post__content__date">August 29, 2022</div>
                    <div class="blogList__post__content__title">
                        Thank you for joining our Pokémon GO Fest 2022 events!
                    </div>
                </div>
            </a>
        </div>
        <div class="blogList__pages">
            <a class="blogList__page disabled" href="/en/news/" aria-label="go to newer posts"
                title="newer posts" aria-disabled="true" style="opacity: 0.5"><span
                    class="icon-chevron-left"></span></a>
            <a class="blogList__page" href="/en/news/?page=1" aria-label="go to older posts"
                title="older posts"><span class="icon-chevron-right"></span></a>
        </div>
    </div>
</div>

{% endblock %}