{% extends 'layout.html' %}

{% block title %}Home - Profile{% endblock %}

{% block content %}

<div class="blogPost">
    <div class="blogPost__grid grid">
        <div class="blogPost__grid__content">
            <div class="blogPost__header">
                <h2>Profile Page</h2>
                <div class="blogPost__header__icon">
                    <img src="/assets/favicon.png" alt="Pokémon Toxic">
                </div>
            </div>

            <div class="blogPost__post__blocks">
                <div class="block block--ContainerBlock">
                    <div class="ContainerBlock" style="--background: #02445a;--textColor: #fff">
                        <div class="ContainerBlock__body">
                            <h1>Profile</h1>
                        </div>
                        <div class="ContainerBlock__blocks">
                            <div class="block block--ContainerBlock">
                                <div class="ContainerBlock" style="--background: #9d8e67;--textColor: #fff">
                                    <h2 class="ContainerBlock__headline">
                                        <span class="ContainerBlock__headline__title">Your account details are
                                            below</span>
                                    </h2>


                                    <div class="ContainerBlock__body">
                                        <div class="ContainerBlock__profile-detail">
                                            <strong>Username: </strong>
                                            {{ account.name }}
                                        </div>

                                        <div class="ContainerBlock__profile-detail">
                                            <strong>Email: </strong>
                                            {{ account.email }}
                                        </div>

                                        <div class="ContainerBlock__profile-detail">
                                            <strong>Registered: </strong>
                                            {{ account.registered }}
                                        </div>
                                        <!--
                                        <a class="button button--white-pill" role="button" href="/edit_profile"
                                            aria-label="Pokémon Toxic 101">
                                            <span class="button__label">Edit Profile</span>
                                        </a>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}