.o-btn
	background transparent
	border line-light-grey
	border-radius 24px
	color blanco
	cursor pointer
	display inline-block
	font regular 13px/13px tipografia-principal
	padding 12px 15px
	text-transform uppercase
	transition 1s all ease
	text-align center
	letter-spacing 8px
	width calc(100% - 24px)
	max-width 280px
	&:hover
		background blanco
		color negro
.o-btn-icon
	i
		width 20%
	p
		width 80%